<table class="table table-bordered">
<tr>
  <th>Title</th><th>Actions</th>
</tr>
<% @category_ideas.each do |idea| %>
<tr>
  <td><%= link_to idea.title, idea_path(idea), class: "idea-title" %></td>
  <td>
    <%= link_to edit_idea_path(idea), id: "edit", class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
    <%= link_to idea_path(idea), id: "delete", method: :delete, class: "btn btn-danger" do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </td>
</tr>
<% end %>
</table>
