.form-inline{
  display: inline;
}

body {
  background-image: url("bg_colors_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-shadow: 2px 2px #ffffff;
}

select {
  font-size: 25px;
}

input[type="text"] {
  width: 50%;
}

input[type="password"] {
  width: 50%;
}

.headshot img{
  background-color: white;
}

.img-small img{
  border-radius: 50%;
  height: 100px;
  background-color: white;
}

.idea-title{
  font-weight: bold;
  font-size: 20px;
}

/*
===----------===----------===----------===----------===----------===
  Bootstrap
===----------===----------===----------===----------===----------===
*/

.well {
  background-color: rgba(244, 244, 244, .8);
  border-radius: 10px;
  border: 3px solid #b3b3b3;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

.table-bordered {
  border: 2px solid #b3b3b3;
}

tr:hover td {
  background-color: #cccccc;
}

.btn {
  margin: 1px;
}

th{
  font-size: 25px;
}
