<h1>Edit or delete this image</h1>
<hr>

<div class="text-center">
<img src="<%= @image.address %>">
</div>
<br>

<%= render 'images/form' %>

<%= link_to "Delete Image", image_path, method: :delete, class: "btn btn-danger" %>
